{% assign pop-up == false %}

{% if site.data.pop-up.shown == true %}
    {% assign pop-up = true %}
{% endif %}

{% if page.allwaysShowPopUp == true %}
    {% assign pop-up = true %}
{% endif %}

{{page.allwaysShowPopUp}}

{% if pop-up == true %}
<div class="scheme-{{site.data.pop-up.color-scheme}} ">
    <dialog id="popup" class="m-auto">
        <div class="color-set {% if site.data.pop-up.featured-image %} grid grid-cols-2 {% endif %} relative inset-0 border border-black bg-white z-50">
            <div class="{% unless site.data.pop-up.is-video == true %} p-8 {% endunless %} relative color-set z-0">
                {{site.data.pop-up.block-content-html}}
            </div>
            {% if site.data.pop-up.featured-image %}
            <div class="relative image-div">
                <img class="absolute inset-0 h-full w-full object-cover" src="{{site.data.pop-up.featured-image}}" alt=""loading="lazy">
            </div>
            {% endif %}
        <svg class="absolute top-4 right-4 hide-button z-50" width="32px" height="32px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="black"><path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        
        </div>
    </dialog>
</div>



<style>

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  backdrop-filter: blur(2px); /* Example: blur the content behind the dialog */
  margin-top: 5.6rem;
}

dialog:focus-visible {
    outline: none;  
}

html.lockScroll,html.lockScroll body {
    overflow: hidden;
    /* height: 100vh; */
}



</style>





<script>

        console.log("show popup")

    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }
  
  
  
  
    const cookieBanner = document.querySelector('#popup')
    const hideButton = cookieBanner.querySelector('.hide-button')
    // const popupOverlay = cookieBanner.querySelector('.popup-overlay')
    const popUpBody = document.querySelector('html')
    const popUpVideo = cookieBanner.querySelector('video')

    hideButton.addEventListener('click', () => {
        createCookie(hidePopUp, true, {{site.data.pop-up.hide-duration-in-days}})
        cookieBanner.close()
        popUpBody.classList.remove('lockScroll')
        popUpVideo.pause()
        
    })

    // popupOverlay.addEventListener('click', () => {
    //     createCookie(hidePopUp, true, {{site.data.pop-up.hide-duration-in-days}})
    //     cookieBanner.classList.remove('appear')
    // })

  
      // popup delay
  if (readCookie(hidePopUp = true)){
      
} else {
    setTimeout(() => {
        console.log("show popup")
        cookieBanner.showModal()
        // popUpBody.classList.add('lockScroll')
        popUpVideo.play()
      }, "{{site.data.pop-up.hide-duration-in-days | times: 1000 }}")

}


        cookieBanner.addEventListener('click', (event) => {
         if (event.target === cookieBanner) {
             // This code will execute when the backdrop is clicked
            //  console.log('Backdrop clicked!');
             // Example: Close the dialog
            cookieBanner.close();
            popUpBody.classList.remove('lockScroll')
            popUpVideo.pause()
         }

    })

 {% if site.data.pop-up.testing-mode == true %}



// removes cookies for testing
document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        
{% endif %}



  </script>
{% endif %}

