
<section>
      <div class="max-width">
          <div class=" pb-small">
            {{block.block-content-html}}
          </div>
        
          <div class="accordion-parent" >
            {% for drop in block.drop_down %}
            <div >
              <div class="expandButton">
                <h3 class="heading-md">{{drop.button-text}}</h3>

                <span class=""></span>
              </div>
              <div class="drop-sec collapsed">
                <div class="content">
                  {{drop.block-content-html}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </section>

