
<section>
      <div class="max-width">
          <div class=" pb-small">
            {% if noH1 == true %}
            {{block.block-content-html | replace: 'h2','h1'}}
            {% else %}
            {{block.block-content-html}}
            {% endif %}
      
            {% if block.block-content-html contains "h2" %}
              {% assign noH1 = false %}
            {% endif %}
          </div>
        
          <div class="accordion-parent" >
            {% for drop in block.drop_down %}
            <div >
              <div class="expandButton">
                <h3 class="heading-md mb-0">{{drop.button-text}}</h3>
                <span></span>
              </div>
              <div class="drop-sec collapsed">
                <div class="content">
                  {{drop.block-content-html}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </section>

