
<section class="grid md:grid-cols-2 px-0 " >
      <div class="picture relative">
        <picture >
          <source srcset="{{block.background-desktop-image}}" media="(min-width: 750px)" />
          <img class="{% unless block.img_aspect == 'Original' %}absolute inset-0 h-full w-full object-cover object-center {% endunless %}" src="{{block.background-mobile-image}}" alt="{{block.background-alt}}"loading="lazy"/>
        </picture>
        
      </div>
      <div class="text-block mb-small pb-small">
        {% if noH1 == true %}
        {{block.block-content-html | replace: 'h2','h1'}}
        {% else %}
        {{block.block-content-html}}
        {% endif %}
  
        {% if block.block-content-html contains "h2" %}
          {% assign noH1 = false %}
        {% endif %}
        <div class="grid-cols-3 grid" style="gap: {{site.data.style.split_banner_gap}}">
          <div>
            <h3 class="sub-heading">SIZE</h3>
            <p>{{block.size}}</p>
          </div>
          <div>
            <h3 class="sub-heading">BED</h3>
            <p>{{block.bed}}</p>
          </div>
          <div>
            <h3 class="sub-heading">TYPE</h3>
            <p>{{block.type}}</p>
          </div>
        </div>
      </div>
    </section>

    <style>

@media  (min-width: 750px) {
      

  #section-{{forloop.index}} section{
    {% if block.collapse-top-space == true %}
      padding-top: 0;
    {% endif %}
  
    {% if block.collapse-bottom-space == true %}
        padding-bottom: 0%;
    {% endif %}
  
  }
}

    #section-{{forloop.index}} section{
      gap: {{block.section-gap}};
      padding-top: {{block.top-space-padding}}rem;
      padding-bottom: {{block.bottom-space-padding}}rem;
    } 

    #section-{{forloop.index}} .text-block {
      text-align: {{block.text-alignment}};
      align-self: {% case block.vert-alignment %}
        {% when 'top' %}
        self-start
        {% when 'middle' %}
        center
        {% when 'bottom' %}
        self-end
        {% endcase %};
      {% if block.desktop-image-position == 'right' %}
          padding-left: var(--max-width-side-padding);
        {% else %}
          padding-right: var(--max-width-side-padding);
          order:3;
      {% endif %}
    }

    #section-{{forloop.index}} .picture{
      {% unless block.img_aspect == 'Original' %}
      aspect-ratio: {% include logic/aspect-logic.html aspect = block.img_aspect %};
      {% endunless %}
      align-self:center;
      order:2;
      {% if block.desktop-collapse-bg-padding == false %}
         {% if block.desktop-image-position == 'left' %}
          margin-left: var(--max-width-side-padding);
          {% else %}
          margin-right: var(--max-width-side-padding);
         {% endif %}
      {% endif %}
    }

    @media (max-width: 750px) {
      #section-{{forloop.index}} section{
        flex-direction: column;
      }
      #section-{{forloop.index}} .text-block{
        padding-left: var(--max-width-side-padding);
        padding-right: var(--max-width-side-padding);
        {% if block.mobile-image-position == 'bottom' %}
          order: 1;
        {% else %}
          order:3;
      {% endif %}
      }
      
      #section-{{forloop.index}} .picture{

        {% if block.mobile-collapse-bg-padding == false %}
        width: calc(100vw - calc( var(--side-gap) * 2));
        margin-left: var(--side-gap);
        {% else %}
        width: 100vw;
       {% endif %} 
      }

    }

      
    </style>