
<section class="py-0" style="text-align: {{block.text-alignment}};">
    <video width="320" height="240" class="absolute inset-0 h-full w-full object-cover object-center lazy-vid" {% if block.controls == true %} controls {% endif %} {% if block.autoplay == true %}autoplay="" muted {% endif %} loop>
      {% for video in block.videos %}
      <source data-src="{{video.video_path}}" type="video/{{video.video_type}}">
      {% endfor %}
    </video>
      <div class="max-width {% if block.overlay-opacity != 0p %}relative z-10{% endif %}
        flex         
        {% case block.vert-alignment %}
        {% when 'top' %}
        items-start
        {% when 'middle' %}
        items-center
        {% when 'bottom' %}
        items-end
        {% endcase %}

        {% case block.text-alignment %}
        {% when 'left' %}
        justify-start
        {% when 'center' %}
        justify-center
        {% when 'right' %}
        justify-end
        {% endcase %}
        ">

          <div class="{% if block.content-max-width %}max-width: {{block.content-max-width}} {% endif %}">
            {% if noH1 == true %}
            {{block.block-content-html | replace: 'h2','h1'}}
            {% else %}
            {{block.block-content-html}}
            {% endif %}

            {% if block.block-content-html contains "h2" %}
              {{assign noH1 == false}}
            {% endif %}
          </div>
    </section>

    <style>

      #section-{{forloop.index}} .max-width{
        min-height: {{block.min-height}};
      }

      {% if block.overlay-opacity != 0p %}
      #section-{{forloop.index}} section::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: {{block.overlay-opacity |  replace: "op", ""}};
      }
      {% endif %}

        #section-{{forloop.index}} section {
          
          background-image: url( {{block.placeholder_image}} );
        }
      

    </style>