
<section class="">
      <div class="max-width">
          <div class="{% case block.text-alignment %}
          {% when 'right' %}
              text-right
          {% when 'center' %}
              text-center
          {% else %}
          {% endcase %}  pb-12 mx-auto" {% if block.max-width %} style="max-width: {{block.max-width}} "{% endif %}>
          {% if noH1 == true %}
          {{block.block-content-html | replace: 'h2','h1'}}
          {% else %}
          {{block.block-content-html}}
          {% endif %}
    
          {% if block.block-content-html contains "h2" %}
            {% assign noH1 = false %}
          {% endif %}
          </div>
            <form method="post" action="/success" class="mx-auto" {% if block.form-max-width %} style="max-width: {{block.form-max-width}} "{% endif %}>
              <input class="placeholder:text-inherit" type="text" name="name" placeholder="NAME" required>
              <input class="placeholder:text-inherit" type="email" name="email" placeholder="EMAIL" required>
              <input class="placeholder:text-inherit" type="tel" name="number" placeholder="NUMBER" required>

              <textarea class="placeholder:text-inherit resize-none" rows="4" name="message" placeholder="MESSAGE" required></textarea>
            
              <!-- <input type="hidden" name="inbox_key" value="sukhavatibali"> -->
              <input type="hidden" name="_to" value="rejuvenation@sukhavatibali.com">
              <input type="text" name="_gotcha" style="display: none;">
            
              <input class="border border-[currentcolor] border-solid px-5 py-2 w-min" type="submit" value="Send Message">
          </form>
      </div>
    </section>

