
<section class="flex justify-center items-center" id="pricing">
  <div class="max-width
      {% case block.text-alignment %}
      {% when 'right' %}
          text-right
      {% when 'center' %}
          text-center
      {% else %}
      {% endcase %}" style="max-width: 990px;">
      <div>

        <div class="flex flex-col items-center justify-center p-4 gap-4 mb-4">
          <h2 class="text-center max-w-screen-sm">Book an all-inclusive Ayurvedic wellness retreat</h2>
          <select id="option-selector-{{forloop.index}}" name="days" class="p-4 input bg-inherit border border-[#87897D] ">
            {% for option in site.data.pricing %}
            
            <option id="option-{{forloop.index}}" value="{{forloop.index}}" {% if forloop.index == 1 %} selected="" {% endif %}>{{option.days}} Day Program</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="rates-filter-{{forloop.index}} inclusions">
        {% for option in site.data.pricing %}
        <div class="day-holder grid grid-cols-2 border-[#C1C4B3] border {% if forloop.index == 1 %} shown {% endif %}" data-option="{{forloop.index}}">
          <div class="p-4 border-r border-[#C1C4B3]">
            <h3 class="sub-heading">Whats included</h3>
            <ul>
              <li>{% if option.complimentary-arrival-night == true %}{{option.days}}{% else %}{{option.days | minus: '1' }}{% endif %} Night Private Villa Accommodation</li>
              <li>Freshly prepared Ayurvedic dishes for breakfast, lunch and dinner</li>
              <li>Ayurvedic consultations and personalized program
              </li><li>Prescribed Ayurvedic treatments (90 minutes each day)
              </li><li>Ayurvedic facial & foot massage (45 mins, every second day)
              </li><li>Twice daily yoga classes
              </li><li>Daily unguided meditation session
              </li><li>Fresh juices & herbal teas
              </li><li>Return airport & hotel transfers
              </li><li>Complimentary bike hire
              </li><li>Complimentary Wi-Fi internet connection
              </li><li>Onsite weekly activities: Ayurvedic cooking class, educational seminar with the doctor, herb garden tour, cultural gala dinner, guided bicycle tour to the beach
              {% if option.complimentary-arrival-night == true %}
                </li><li>Complimentary arrival night to settle in
              {% endif %}
          </li></ul>
        </div>
        <div class="p-4">
          <h3 class="sub-heading">Rates</h3>
          <p class="editable">
              You can choose between a luxury private villa with a garden or one with it's own swimming pool.
          </p>
          <p class="mb-0">
            Single Occupancy In a Garden Villa - ${{option.price-single-occupancy-garden-villa}} per person
          </p>
          <p>
            Double Occupancy In a Garden Villa - ${{option.price-double-occupancy-garden-villa}} per person
          </p>
          <p class="mb-0">
            Single Occupancy In a Pool Villa - ${{option.price-single-occupancy-pool-villa}} per person
          </p>
          <p>
            Double Occupancy In a Pool Villa - ${{option.price-double-occupancy-pool-villa}} per person
          </p>
          <p class="italic editable">
            Rates are in USD and are not inclusive of 15% Government Taxes & Service fee.
          </p>

        </div>
      </div>
      {% endfor %}
    </div>
<div class="text-center mt-6">
  <a href="/contact.html" class="button-featured">Enquire Now</a>
</div>
  </div>
</section>


<style>

.day-holder {
  display: none;
}
.day-holder.shown{
  display: grid;
}

/* .inclusions-tab, .rates-tab{
  display: none;
}
.inclusions .inclusions-tab,.rates .rates-tab{
  display: block;
} */

</style>

<script>
const ratesFilterParent = document.querySelector('.rates-filter-{{forloop.index}}')
const daysInput = document.querySelector('#option-selector-{{forloop.index}}')
const dayOptions = ratesFilterParent.querySelectorAll('.day-holder')
let target





console.log(daysInput,dayOptions)

function selectProgram(){
  target = this.value

  
dayOptions.forEach(option => {
  console.log('i changed', this, target, option.dataset.option )
  if (option.dataset.option == target) {
    option.classList.add('shown')
  } else {
    option.classList.remove('shown')
  }
});
}

daysInput.addEventListener('change', selectProgram)

// const tabButtons = ratesFilterParent.querySelectorAll(' .tab-select')

// console.log(tabButtons)

// function selectTab() {
//   if (this.dataset.tab == 'inclusions') {
//     ratesFilterParent.classList.add('inclusions')
//     ratesFilterParent.classList.remove('rates')
//   } else {
//     ratesFilterParent.classList.remove('inclusions')
//     ratesFilterParent.classList.add('rates')

//   }
    
// } 

// tabButtons.forEach(button => {
//   button.addEventListener('click', selectTab)

// })


</script>