
<section class="flex justify-center items-center">
  <div class="max-width
      {% case block.text-alignment %}
      {% when 'right' %}
          text-right
      {% when 'center' %}
          text-center
      {% else %}
      {% endcase %}">
    <div class="flex justify-center gap-4 p-4 bg-[#87897d]">
      <p class="!mb-0"> Please Select Day Program </p>
      <select id="option-selector-{{forloop.index}}" name="days" class="input bg-inherit">
        {% for option in block.options %}

        <option id="option-{{forloop.index}}" value="{{forloop.index}}" {% if forloop.index == 1 %} selected="" {% endif %}>{{option.days}} Day Program</option>
        {% endfor %}
      </select>
      </div>
      <div>
      <div class="rates-filter-{{forloop.index}}">
        <div class="flex justify-between gap-small">
          <span>
            Inclusions
          </span>
          <span>
            Rates
          </span>
        </div>
        {% for option in block.options %}
        <div class="day-holder {% if forloop.index == 1 %} shown {% endif %}" data-option="{{forloop.index}}">
          days: {{option.days}}
          nights: {{option.nights}}
        </div>
        {% endfor %}
      </div>
    </div>
            
  </div>
</section>


<style>

.day-holder {
  display: none;
}
.day-holder.shown{
  display: block;
}

</style>

<script>
const daysInput = document.querySelector('#option-selector-{{forloop.index}}')
const dayOptions = document.querySelectorAll('.rates-filter-{{forloop.index}} .day-holder')
let target
console.log(daysInput,dayOptions)

function selectProgram(){
  target = this.value

  
dayOptions.forEach(option => {
  console.log('i changed', this, target, option.dataset.option )
  if (option.dataset.option == target) {
    option.classList.add('shown')
  } else {
    option.classList.remove('shown')
  }
});
}

daysInput.addEventListener('change', selectProgram)

</script>