
<section class="{% if block.top-space-collapse  == true %} pt-0 {% endif %} {% if block.bottom-space-collapse  == true %} pb-0 {% endif %} flex flex-col justify-center">
  <div class="max-width">

      <div class="      
      {% case block.gap-between-text-box-and-grid %}
      {% when 'small' %}
      mb-8
      {% when 'medium' %}
      mb-16
      {% when 'large' %}
      mb-32
      {% endcase %}
      {% case block.text-alignment %}
      {% when 'left' %}
      {% when 'center' %}
      text-center
      {% when 'right' %}
      text-right
      {% endcase %}
      ">
      {% if noH1 == true %}
      {{block.block-content-html | replace: 'h2','h1'}}
      {% else %}
      {{block.block-content-html}}
      {% endif %}

      {% if block.block-content-html contains "h2" %}
        {% assign noH1 = false %}
      {% endif %}
      </div>
      <div class="grid">
          {% for col in block.columns %}
          
            <div class="

            {% assign colWidth = col.col-width %}

          {% if colWidth > block.grid-desktop-columns %}
              {% assign colWidth = block.grid-desktop-columns %}
              {% endif %}
              col-w-{{colWidth}}
          {% if colWidth >= block.grid-mobile-columns %}
          {% assign colWidth = block.grid-mobile-columns %}
            mob-col-w-{{colWidth}}
          {% endif %}
          col-h-{{col.col-height}} relative {% if col.color-scheme %} scheme-{{col.color-scheme}} {% endif %}  {% if col.mobile-first == true %} -order-1 md:order-[0] {% endif %} {% if col.hide-on-mobile == true %} hidden md:block {% endif %}" {% if block.img-mixed-aspect == false %} style="aspect-ratio: {% include logic/aspect-logic.html aspect = col.img_aspect %};" {% endif %}>
          <!-- {{col.col-type}} -->
                {% case col.col-type %}
                {% when 'img' %}
                  {% include /snippets/col-img.html %}
                {% when 'text' %}
                  {% include /snippets/col-text.html %}
                {% when 'video' %}
                {% include /snippets/col-video.html %}
                {% endcase %}
            </div>
          {% endfor %}
    </div>
    
  </div>
</section>

<style>
      #section-{{forloop.index}} section{
        min-height: {{block.min-height}};
      }

    #section-{{forloop.index}} .grid {
        gap: {{block.grid-gap}};
      grid-template-columns: repeat({{block.grid-mobile-columns}}, 1fr);
    }

    {% if block.icon-width %}
    #section-{{forloop.index}} .icon{
max-width: min(100%, {{block.icon-width}});
    }
    {% endif %}


    @media (min-width: 765px) {
      #section-{{forloop.index}} .grid {
        gap: {{block.grid-gap}};
      grid-template-columns: repeat({{block.grid-desktop-columns}}, 1fr);
    }
    }
    {% if block.background-mobile-image %} {% if block.background-desktop-image %}
    @media (min-width: 765px) {
      #section-{{forloop.index}} section {
        background-image: url( {{block.background-desktop-image}} );
      }
    }
    {% endif %} {% endif %}

    
    @media  (min-width: 750px) {
      

      #section-{{forloop.index}} section{
        {% if block.collapse-top-space == true %}
          padding-top: 1px;
        {% endif %}
      
        {% if block.collapse-bottom-space == true %}
            padding-bottom: 1px;
        {% endif %}
      
      }
    }

  </style>