
<section class="{% if block.top-space-collapse  == true %} pt-0 {% endif %} {% if block.bottom-space-collapse  == true %} pb-0 {% endif %}">
  <div class="max-width">

      <div class="      
      mb-8
      {% case block.text-alignment %}
      {% when 'left' %}
      {% when 'center' %}
      text-center
      {% when 'right' %}
      text-right
      {% endcase %}
      ">
      {% if noH1 == true %}
      {{block.block-content-html | replace: 'h2','h1'}}
      {% else %}
      {{block.block-content-html}}
      {% endif %}

      {% if block.block-content-html contains "h2" %}
        {% assign noH1 = false %}
      {% endif %}
      </div>
      <div class="grid gap-8" 
       style="grid-template-columns: repeat(3, 1fr)"
      
      >
      <!--  style="grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))" -->
          {% for col in site.posts %}
            <div class=" relative" >
          <!-- {{col.col-type}} -->
          <div class="color-set col-padded min-h-full flex hover:opacity-80 transition-all duration-500">
            <div class="w-full
            {% case col.vert-alignment %}
            {% when 'top' %}
            self-start
            {% when 'middle' %}
            self-center
            {% when 'bottom' %}
            self-end
            {% endcase %}
            ">
                <a href="{{col.url}}" >
                    <div class="mb-small relative" style="aspect-ratio: 5/4;">
                        <img class="icon absolute w-full h-full inset-0 object-cover object-center" src="{{col.featured_image}}" alt="{{col.icon-alt}}"loading="lazy">
                    </div>
                    <div
                    class="pb-small" style="text-align: {{col.text-alignment}}">
                    <h3 class="sub-heading">
                      {{col.title}}
                    </h3>

        
                </div>
              
                </a>
        
            </div>
                    
            
        </div>
      </div>
        {% endfor %}
    </div>
    
  </div>
</section>

<style>


    {% if block.icon-width %}
    #section-{{forloop.index}} .icon{
max-width: min(100%, {{block.icon-width}});
    }
    {% endif %}



    

  </style>