
<section class="px-0 ">
  <div class="px-side mb-8">
      <div class="max-width">
          <div>
            {% if noH1 == true %}
            {{block.block-content-html | replace: 'h2','h1'}}
            {% else %}
            {{block.block-content-html}}
            {% endif %}
      
            {% if block.block-content-html contains "h2" %}
              {% assign noH1 = false %}
            {% endif %}
          </div>
      </div>
    </div>
    <div class="gap-4 flex flex-nowrap overflow-scroll no-scrollbar" {% if block.max-width %} style="max-width:  {{block.max-width}} 500px"{% endif %}>


      {% for col in block.scroll-items %}
        <div class="shrink-0 {% if forloop.first  %} ml-full-side {% endif %} {% if forloop.last  %} mr-full-side {% endif %}" style="width: min( {{block.image-width}} , 500px );">
          {% if col.link %}<a href="{{col.link}}">{% endif%}
            <div class="image-sizer relative mb-small">
              <img class="{% unless block.img_aspect == 'Original' %} object-cover object-center absolute inset-0 h-full {% endunless %} w-full" src="{{col.image}}" alt=""loading="lazy">
            </div>
          <h3 class="sub-heading">{{col.heading}}</h3>
          <p>
            {{col.description | truncatewords: 13, "..." }}
          </p>
          {% if col.link %}</a>{% endif%}
        </div>
      {% endfor %}
    </div>
  </section>


<style>
    #section-{{forloop.index}} .image-sizer {
    aspect-ratio: {% include logic/aspect-logic.html aspect = block.img_aspect %} ;
  }
</style>