
<section class="px-0 ">
  <div class="px-side mb-8">
      <div class="max-width">
          <div style="max-width: 640px; margin-left: 0;">
            {% if noH1 == true %}
            {{block.block-content-html | replace: 'h2','h1'}}
            {% else %}
            {{block.block-content-html}}
            {% endif %}
      
            {% if block.block-content-html contains "h2" %}
              {% assign noH1 = false %}
            {% endif %}
          </div>
          
      </div>
    </div>
    <div class="gap-4 flex flex-nowrap overflow-scroll no-scrollbar" {% if block.max-width %} style="max-width:  {{block.max-width}} 500px"{% endif %}>


      {% for col in site.benefits %}
        <div class="shrink-0 {% if forloop.first  %} ml-full-side {% endif %} {% if forloop.last  %} mr-full-side {% endif %}" style="width: min( {{block.image-width}} , 500px );">
          <a href="{{col.url}}">
            <div class="image-sizer relative mb-small">
              <img class="{% unless block.img_aspect == 'Original' %} object-cover object-center absolute inset-0 h-full {% endunless %} w-full" src="{{col.featured_image}}" alt=""loading="lazy">
            </div>
          <h3 class="sub-heading">{{col.title}}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>


<style>
    #section-{{forloop.index}} .image-sizer {
    aspect-ratio: {% include logic/aspect-logic.html aspect = block.img_aspect %} ;
  }
</style>