<!DOCTYPE html>
<html lang="en" class="hide-scrollbars">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/x-icon" href="{{page.seo.favicon | default: site.data.seo.favicon_image}}">
    
    <link
        rel="preload" 
        as="style" 
        href="/editor.css" 
        onload="this.rel='stylesheet'; this.onload=null;">
      <noscript>
        <link rel="stylesheet" href="/editor.css">
      </noscript>

    <link
      rel="preload" 
      as="style" 
      href="/assets/css/style.css" 
      onload="this.rel='stylesheet'; this.onload=null;">
    <noscript>
      <link rel="stylesheet" href="/assets/css/style.css">
    </noscript>
 
    <!-- meta-fields -->
    <title>{{page.seo.title | default: site.data.seo.title }}</title>
    <meta name="description" content="{{page.seo.description | default: site.data.seo.description}}">
    <meta property="og:image" content="{{page.data.seo.image | default: site.data.seo.image}}"/>
    
    <meta name="google" content="nositelinkssearchbox">
    {% if site.data.seo.google-site-verification %}
      {{site.data.seo.google-site-verification}}
    {% endif %}
    
    
    {% if page.seo.index == true %}
      <meta name="robots" content="all">
    {% else %}
      <meta name="robots" content="none">
    {% endif %}
    


<style>
    :root{
        --max-width: {{site.data.style.max-width}}px;
        --side-gap: {{site.data.style.horizontal-padding}};
        --vert-gap: {{site.data.style.vertical-padding}};
        --animation-speed: {{site.data.style.animation-speed}};
        --small-padding: {{site.data.style.small-padding}};
        --heading-font-family: 'Noto Serif Display';
        --body-font-family: Mulish, sans-serif;
    }

    body{
        --max-width-side-padding: max({{site.data.style.horizontal-padding}},  calc( calc(100vw - var(--max-width)) / 2) );
    }
    :root,{% for scheme in site.data.style.schemes %}
        .scheme-{{scheme.scheme_name}} {
            --bg-color: {{scheme.bg-color}};
            --text-color: {{scheme.text-color}};
            --colored-button-bg: {{scheme.colored-button-bg-color}};
            --colored-button-text: {{scheme.colored-button-text-color}};
        }
    {% endfor %}

</style>

</head>

<body>
  <div class="scheme-header sticky top-0 z-50" id="header">
  <header>
    <div class="max-width flex justify-between items-center">
      <div class="flex-1">
        <a class="p-4" href="/">
          <img class="" style="max-width: min({{site.data.navigation.header_logo_width}}, 100%)" src="{{site.data.navigation.logo_image}}" alt="{{site.data.navigation.logo_alt}}">
        </a>
      </div>
      <nav class="text-right hidden right-0 top-0 lg:block shrink-0">

        {% assign noH1 = true %}
        {% for link in site.data.navigation.header_links %}
        <span 
        class="text-left inline-block drop-finder p-[15px]
          {% if link.sub_links %}
            relative
          {% endif %}
          ">
              {% if link.link %}
              <a href="{{link.link}}">
              {% else %}
              <span class="unlinked">
              {% endif %}
                {{link.text}}
              {% unless link.link %}
              </span>
              {% else %}
              </a>
              {% endunless %}

          {% if link.sub_links %} 
              <div class="absolute left-0 top-12 z-10 drop-down color-set min-w-min hidden">
                {% for sub-link in link.sub_links %}
                <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
                {% endfor %}
              </div>
            {% endif %}
        </span>
        {% endfor %}
        <a href="/contact" class="button ml-[15px]">Book Now</a>
        </nav>
      <div class="lg:hidden">
        <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
       <div class="burger-menu color-set">

        <a href="/">
          <img class="mix-blend-multiply" style="max-width: min({{site.data.navigation.header_logo_width}}, 100%)" src="{{site.data.navigation.logo_image}}" alt="{{site.data.navigation.logo_alt}}">
        </a>
        <a href="/contact" class="button !inline-block ml-[15px]">Book Now</a>
        {% for link in site.data.navigation.header_links %}

        <a class="main-link" href="{{link.link}}">{{link.text}}</a>
        {% if link.sub_links %}
          <div class="ml-small">
            {% for sub-link in link.sub_links %}
              <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
            {% endfor %}
          </div>
        {% endif %}


          {% endfor %}

      </div>
      </div>
    </div>
  </header>
</div>


  {% if page.blocks %}
    
    {% for block in page.blocks %}
          <div class="scheme-{{block.color-scheme}} relative" id="section-{{forloop.index}}">
            {% comment %} to figure out what block you added in inspect {% endcomment %}
              <!--{{block._id}} -->
              {% include /block/{{block._id}}.html %}
          </div>
          <!-- script check -->
        {% if block._id == 'accordion' %}
          {% assign hasAccordion = true %}
        {% endif %}

        {% if block._id == 'ticket-banner' %}
          {% assign hasTicketBanner = true %}
        {% endif %}
        {% if block._id == 'banner-video' %}
          {% assign hasVideo = true %}
        {% endif %}
        {% if block._id == 'slider' %}
          {% assign hasSlider = true %}
        {% endif %}
        {% if block._id == 'slider-blog-loop' %}
        {% assign hasSlider = true %}
      {% endif %}
    {% endfor %}


  {% else %}
    <section>
      <div class="max-width">
        {{content}}
      </div>
    </section>
  {% endif %}


  {% if page.layout == 'benefits' %}
    {% include benefits.html %}
  {% endif %}

    <div class="whatsapp-button fixed bottom-4 right-4 z-50">
      <a href="https://api.whatsapp.com/send/?phone=6281916221559&text={{site.data.navigation.whatsApp_initial_message | replace: ' ', '+'}}&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
        <img src="/uploads/whatsapp-icon.ico" alt="whatsapp icon" class="w-16 h-16">
      </a>
    </div>


{% include footer.html %}

{% include /js/universal.html %}
{% include /js/navigation.html %}
{% include /js/lazy-load.html %}
{% if page.url == '/success.html' %}
{% include /js/analytics.html %}
{% endif %}
{% include /js/accordion.html %}
{% include /js/ticker-banner.html %}
{% include /js/popup-code.html %}
{% include /js/slider.html %}

</body>