<div class="color-set col-padded min-h-full flex">
    <div class="
    {% case col.vert-alignment %}
    {% when 'top' %}
    self-start
    {% when 'middle' %}
    self-center
    {% when 'bottom' %}
    self-end
    {% endcase %}
    ">

        {% if col.link %} 
        <a href="{{col.link}}" class="block hover:shadow-lg shadow-black transition-all duration-500">
        {% endif %}
            {% if col.icon-path %}
            <div class="flex justify-center mb-small">
                <img class="icon" src="{{col.icon-path}}" alt="{{col.icon-alt}}">
            </div>
            {% endif %}
            <div
            {% if block.col-internal-padding == true %}
            class="px-small pb-small"
            {% endif %} style="text-align: {{col.text-alignment}}">
            {{col.block-content-html}}{% if col.link %}<p>
                <span class="button">See Details</span>            
            </p>

            {% endif %}

        </div>
        {% if col.link %} 
        </a>
        {% endif %}

    </div>
            
    
</div>