<div class="color-set col-padded min-h-full flex {% if col.link %} hover:shadow-lg shadow-black transition-all duration-500 {% endif %}">
    <div class="w-full
    {% case col.vert-alignment %}
    {% when 'top' %}
    self-start
    {% when 'middle' %}
    self-center
    {% when 'bottom' %}
    self-end
    {% endcase %}
    ">

        {% if col.link %} 
        <a href="{{col.link}}" >
        {% endif %}
            {% if col.icon-path %}
            <div class="mb-small {% unless col.img_aspect == 'Original' %} relative" style="aspect-ratio: {% include logic/aspect-logic.html aspect = col.img_aspect %}; {% endunless %}">
                <img class="icon {% unless col.img_aspect == 'Original' %} absolute w-full h-full inset-0 object-cover object-center  {% endunless %} " src="{{col.icon-path}}" alt="{{col.icon-alt}}"loading="lazy">
            </div>
            {% endif %}
            <div
            {% if block.col-internal-padding == true %}
            class="px-small pb-small"
            {% endif %} style="text-align: {{col.text-alignment}}">
            {{col.block-content-html}}{% if col.link %}<p>
                <span class="button">See Details</span>            
            </p>

            {% endif %}

        </div>
        {% if col.link %} 
        </a>
        {% endif %}

    </div>
            
    
</div>