<div class="flex gap-4 blog-3-col-grid overflow-hidden mb-4">
    <div class="flex-1">
        <div class="{{include.img_aspect | default: 'Original'}} w-full">
            <img class="w-full" src="{{ include.first-image }}" alt="{{ include.first-alt }}" loading="lazy">
        </div>
    </div>
    
    {% if include.second-image != "" %}
    <div class="flex-1">
        <div class="{{include.img_aspect | default: 'Original'}} w-full">
            <img class="w-full" src="{{ include.second-image }}" alt="{{ include.second-alt }}"loading="lazy">
        </div>
    </div>
    {% endif %}
    {% if include.third-image != "" %}
    <div class="flex-1">
        <div class="{{include.img_aspect | default: 'Original'}} w-full">
            <img class="w-full" src="{{ include.third-image }}" alt="{{ include.second-alt }}"loading="lazy">
        </div>
    </div>
    {% endif %}
</div>